body {
  font-family: Helvetica;
  color: #231F20; }

.page-content-wrapper h2 {
  font-size: 1rem;
  font-weight: 600; }
.page-content-wrapper a {
  padding: 1vh 10%;
  color: #231F20;
  font-size: 20px;
  font-weight: 600; }
.page-content-wrapper a:hover {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a:focus {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a:visited {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a #address {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
.page-content-wrapper a #address:hover {
  color: #333ce5; }
.page-content-wrapper #menu-link a {
  text-transform: uppercase;
  font-size: 1rem; }

.menu-content-wrapper .container-fluid .row .outer-border h1, .menu-content-wrapper .container-fluid .row .outer-border h2 {
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17.5px; }
.menu-content-wrapper .container-fluid .row .outer-border p {
  font-size: 14.75px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 14.75px; }
@media (min-width: 991px) {
  .menu-content-wrapper .container-fluid .row .outer-border .row div {
    margin-bottom: 14.75px; } }

#footer, #menu-footer {
  padding-top: 2vh; }
#footer div, #menu-footer div {
  text-align: center; }
#footer div a, #menu-footer div a {
  padding: 0; }
#footer div a img, #menu-footer div a img {
  width: auto;
  height: 34px;
  display: inline; }
#footer div a img:nth-of-type(2), #menu-footer div a img:nth-of-type(2) {
  height: 37px;
  margin-left: 30px; }

#menu-footer {
  margin-top: -15vh; }
@media (max-width: 768px) {
  #menu-footer {
    display: none; } }

@media (max-width: 768px) {
  .detect {
    display: none; } }

.hidden {
  display: none; }

.page-content-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

@media (min-width: 768px) {
  .menu-content-wrapper .container-fluid .menu-outer-row {
    padding: 55px; } }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border {
  padding: 36px 16px;
  background-color: #f9e426; }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border img {
  width: 100%;
  margin-bottom: 56px; }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border h2 {
  font-size: 17.5px; }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border #exit {
  position: fixed;
  top: 2vh;
  right: 4%;
  z-index: 2; }
@media (min-width: 768px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border #exit {
    position: absolute;
    top: 1vh;
    right: 1%; } }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row {
  padding: 0 0 0 6%; }
@media (min-width: 767px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row .dairy-dips {
    margin-top: -175px; } }
@media (min-width: 991px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row .dairy-dips {
    margin-top: -140px; } }
@media (min-width: 768px) {
  .menu-content-wrapper {
    margin-top: 2vh; } }

#mrDipsFallback {
  display: block;
  width: auto;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }
@media (min-width: 768px) {
  #mrDipsFallback {
    display: none; } }

canvas {
  display: block;
  width: auto;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }
@media (max-width: 768px) {
  canvas {
    display: none; } }

#logo-img {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 15px; }

#instagram {
  padding: 0; }
#instagram img {
  width: 15%;
  margin-left: 42.5%;
  margin-top: 14px;
  margin-bottom: 16px; }

#menu-link {
  margin: 0 0 18px 0; }
#menu-link a {
  border: 4px solid #000000; }

/*# sourceMappingURL=main.css.map */
