body {
  font-family: Helvetica;
  color: #231F20; }

.page-content-wrapper h2 {
  font-size: 1rem;
  font-weight: 600; }
.page-content-wrapper a {
  padding: 1vh 10%;
  color: #231F20;
  font-size: 20px;
  font-weight: 600; }
.page-content-wrapper a:hover {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a:focus {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a:visited {
  text-decoration: none;
  color: #231F20; }
.page-content-wrapper a #address {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 2; }
.page-content-wrapper a #address span {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
.page-content-wrapper a #address:hover {
  color: #231F20; }
.page-content-wrapper a #address:hover span {
  color: #333ce5; }
.page-content-wrapper a #address:focus {
  color: #231F20; }
.page-content-wrapper a #address:visited {
  color: #231F20; }
.page-content-wrapper #menu-link a {
  text-transform: uppercase;
  font-size: 16px; }

.menu-content-wrapper .container-fluid .row .outer-border h1, .menu-content-wrapper .container-fluid .row .outer-border h2 {
  font-size: 17.5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17.5px; }
.menu-content-wrapper .container-fluid .row .outer-border p {
  font-size: 14.75px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 14.75px; }
@media (min-width: 991px) {
  .menu-content-wrapper .container-fluid .row .outer-border .row div {
    margin-bottom: 14.75px; } }

#footer, #menu-footer {
  padding-bottom: 2vh; }
@media (max-width: 768px) {
  #footer, #menu-footer {
    margin-bottom: 2vh; } }
#footer div, #menu-footer div {
  text-align: center; }
#footer div a, #menu-footer div a {
  padding: 0; }
#footer div a:nth-of-type(1), #menu-footer div a:nth-of-type(1) {
  margin-right: 2%; }
#footer div a img, #menu-footer div a img {
  width: auto;
  height: 24px;
  display: inline; }
#footer div a img:nth-of-type(2), #menu-footer div a img:nth-of-type(2) {
  margin-left: 30px; }
@media (min-width: 768px) {
  #footer div a img, #menu-footer div a img {
    height: 34px; } }

#menu-footer {
  margin-top: -15vh; }
@media (max-width: 768px) {
  #menu-footer {
    display: none; } }

#alert-message {
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: #f728df;
  z-index: 2;
  transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  -webkit-transform: skew(0deg, -3deg);
  transform-origin: top left; }
@media (max-width: 768px) {
  #alert-message {
    top: 42.5%;
    height: 15vh; } }
#alert-message h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 12vh;
  margin-top: 8vh;
  font-weight: 600; }
@media (max-width: 768px) {
  #alert-message h1 {
    line-height: 5vh;
    margin-top: 15vh; } }
@media (max-height: 225px) {
  #alert-message h1 {
    font-size: 2.5rem !important; } }
#alert-message a {
  position: absolute;
  right: 5%;
  top: 2vh;
  transform: skew(0deg, 3deg);
  -ms-transform: skew(0deg, 3deg);
  -webkit-transform: skew(0deg, 3deg); }

@media (max-width: 768px) {
  .detect {
    display: none; } }

.hidden {
  display: none; }

.page-content-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
@media (max-width: 768px) {
  .page-content-wrapper {
    margin-top: 10vh;
    overflow-x: hidden; } }

@media (min-width: 768px) {
  .menu-content-wrapper .container-fluid .menu-outer-row {
    padding: 55px; } }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border {
  padding: 36px 16px;
  background-color: #f9e426; }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border img {
  width: 100%;
  margin-bottom: 56px; }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border h2 {
  font-size: 17.5px; }
@media (max-width: 768px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border h2 {
    margin-top: 14.75px; } }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border #exit {
  position: fixed;
  top: 2vh;
  right: 4%;
  z-index: 2; }
@media (min-width: 768px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border #exit {
    position: absolute;
    top: 1vh;
    right: 1%; } }
.menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row {
  padding: 0 0 0 6%; }
@media (min-width: 767px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row .dairy-dips {
    margin-top: -145px; } }
@media (min-width: 991px) {
  .menu-content-wrapper .container-fluid .menu-outer-row .outer-border .row .dairy-dips {
    margin-top: -150px; } }
@media (min-width: 768px) {
  .menu-content-wrapper {
    margin-top: 2vh; } }

#mrDipsFallback {
  display: block;
  width: auto;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }

canvas {
  display: block;
  width: auto;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }

#logo-img {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 15px; }

#instagram {
  padding: 0; }
#instagram img {
  display: block;
  width: 46px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 20px; }

#menu-link {
  margin: 0 0 18px 0; }
#menu-link a {
  padding: 10px 39px;
  border: 4px solid #000000; }

/*# sourceMappingURL=main.css.map */
