#footer,
#menu-footer {
  padding-top: 2vh;
  div {
    text-align: center;
    a {
      padding: 0;
      img {
        width: auto;
        height: 34px;
        display: inline;
        &:nth-of-type(2) {
          height: 37px;
          margin-left: 30px;
        }
      }
    }
  }
}
#menu-footer {
  margin-top: -15vh;
  @media(max-width: 768px) {
    display: none;
  }
}
