#footer,
#menu-footer {
  padding-bottom: 2vh;
  @media(max-width: 768px) {
    margin-bottom: 2vh;
  }
  div {
    text-align: center;
    a {
      padding: 0;
      &:nth-of-type(1) {
        margin-right: 2%;
      }
      img {
        width: auto;
        height: 24px;
        display: inline;
        &:nth-of-type(2) {
          margin-left: 30px;
        }
        @media(min-width: 768px) {
          height: 34px;
        }
      }
    }
  }
}
#menu-footer {
  margin-top: -15vh;
  @media(max-width: 768px) {
    display: none;
  }
}
